mixin input(type, name, placeholder) 
    .form__input-block
        input(
            type=`${type}`
            class='form__input'
            name=`${name}`
            placeholder=`${placeholder}`
            required
        )